<div class="container"><h3 class="text-dark">Add Author</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="author.name" name="name" placeholder="Name">
    </div>
    <br>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="author.surname" name="surname" placeholder="Surname">
    </div>
    <br>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="author.bio" name="bio" placeholder="Bio">
    </div>
    <!--    <div>-->
    <!--    <label *ngFor="let item of genders">-->
    <!--      <input type="radio" name="gender" [(ngModel)]="author.gender"-->
    <!--             value="{{male}}">-->
    <!--      {{item}}-->
    <!--    </label>-->
    <!--    </div>-->
    <div class="form-check">
    <label> male
      <input [(ngModel)]="author.gender" class="form-check-input" type="radio" name="gender" value="MALE">
    </label>
    </div>
    <div class="form-check">
    <label> female
      <input [(ngModel)]="author.gender" class="form-check-input" type="radio" name="gender" value="FEMALE">
    </label>
    </div>
    <br>
    <button type="submit" class="btn btn-success" name="signup" id="signup">Add</button>
  </form>
</div>

