<section class="container">

  <h2 class="text-md-start">Register</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name"><i></i></label>
      <input type="text" name="name" id="name" class="form-control" [(ngModel)]="user.name" placeholder="Your Name"/>
    </div>
    <div class="form-group">
      <label for="email"></label>
      <input type="email" name="email" class="form-control" id="email" [(ngModel)]="user.email" placeholder="Your Email" required=""
             data-error="*Please fill out this field"/>
    </div>
    <div class="form-group">
      <label for="pass"></label>
      <input type="password" name="pass" class="form-control" [(ngModel)]="user.password" id="pass" placeholder="Password"/>
    </div>
    <div class="form-group">
      <label for="re_pass"></label>
      <input type="password" name="re_pass" class="form-control" [(ngModel)]="user.confirmPassword" id="re_pass"
             placeholder="Repeat your password"/>
    </div>
    <br>
    <!--            <div class="form-group">-->
    <!--              <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />-->
    <!--              <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>-->
    <!--            </div>-->
    <div>
      <!--              <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>-->
      <button type="submit" class="btn btn-success" name="signup" id="signup">Register</button>
      &nbsp;
      <a routerLink="/login" class="btn btn-primary">I am already member</a>
    </div>
  </form>
</section>

