
<div class="container">
  <table style="width:100%" class="table-striped">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let book of books">
      <td>{{book.title}}</td>
      <td>{{book.description}}</td>
      <td>
        <button (click)="bookDetails(book.id)" class="btn btn-primary">details</button>
      </td>
    </tr>
  </table>
  <br>
  <div>
    <a routerLink="/login" class="btn btn-primary">I am already member</a>
  </div>
</div>


