
<section class="signup">
  <div class="container">
    <div class="signup-content">
      <div class="signup-form" >
        <div  >
          <table style="width:100%">
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let book of books">
              <td>{{book.title}}</td>
              <td>{{book.description}}</td>
              <td>
                <button (click)="bookDetails(book.id)">more</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="signup-image">

        <figure><img src="assets/images/signup-image.jpg" alt="sing up image"></figure>
        <a routerLink="/login" class="signup-image-link">I am already member</a>
      </div>
    </div>
  </div>
</section>
